colorlog==6.7.0
pip>=21.0,<23.2
ruff==0.0.265

# Install HA and test dependencies (pytest, coverage)
# See https://github.com/MatthewFlamm/pytest-homeassistant-custom-component/releases for version mappings
pytest-homeassistant-custom-component==0.13.32 # HA 2023.5.4
