name: pytest

on:
  push:
    branches: [master]
  pull_request:

jobs:
  pytest:
    name: Run pytest
    runs-on: ubuntu-24.04
    timeout-minutes: 60
    strategy:
      fail-fast: false
      matrix:
        include:
          - python-version: "3.11"
            core-version: "2023.7.3"
          - python-version: "3.11"
            core-version: "2023.8.4"
          - python-version: "3.11"
            core-version: "2023.9.3"
          - python-version: "3.11"
            core-version: "2023.10.5"
          - python-version: "3.11"
            core-version: "2023.11.3"
          - python-version: "3.11"
            core-version: "2023.12.4"
          - python-version: "3.11"
            core-version: "2024.1.6"
          - python-version: "3.11"
            core-version: "2024.2.5"
          - python-version: "3.12"
            core-version: "2024.3.3"
          - python-version: "3.12"
            core-version: "2024.4.4"
          - python-version: "3.12"
            core-version: "2024.5.5"
          - python-version: "3.12"
            core-version: "2024.6.4"
          - python-version: "3.12"
            core-version: "2024.7.4"
          - python-version: "3.12"
            core-version: "2024.8.3"
          - python-version: "3.12"
            core-version: "2024.9.3"
          - python-version: "3.12"
            core-version: "2024.10.4"
          - python-version: "3.12"
            core-version: "2024.11.3"
          - python-version: "3.12"
            core-version: "2024.12.0"
          - python-version: "3.12"
            core-version: "dev"
    steps:
      - name: Check out code from GitHub
        uses: actions/checkout@v4

      - name: Install Home Assistant
        uses: ./.github/workflows/install_dependencies
        with:
          python-version: ${{ matrix.python-version }}
          core-version: ${{ matrix.core-version }}

      - name: Run pytest
        timeout-minutes: 60
        run: |
          export PYTHONPATH=${PYTHONPATH}:${PWD}
          source .venv/bin/activate
          cd core
          python3 -X dev -m pytest \
            -vvv \
            -qq \
            --timeout=9 \
            --durations=10 \
            --cov="homeassistant" \
            --cov-report=xml \
            -o console_output_style=count \
            -p no:sugar \
            tests/components/adaptive_lighting
