name: pytest

on:
  push:
    branches: [master]
  pull_request:

jobs:
  pytest:
    name: Run pytest
    runs-on: ubuntu-24.04
    timeout-minutes: 60
    strategy:
      fail-fast: false
      matrix:
        include:
          - core-version: "2024.12.5"
            python-version: "3.12"
          - core-version: "2025.1.4"
            python-version: "3.12"
          - core-version: "2025.2.5"
            python-version: "3.13"
          - core-version: "2025.3.4"
            python-version: "3.13"
          - core-version: "2025.4.4"
            python-version: "3.13"
          - core-version: "2025.5.3"
            python-version: "3.13"
          - core-version: "2025.6.3"
            python-version: "3.13"
          - core-version: "2025.7.4"
            python-version: "3.13"
          - core-version: "2025.8.3"
            python-version: "3.13"
          - core-version: "2025.9.4"
            python-version: "3.13"
          - core-version: "2025.10.4"
            python-version: "3.13"
          - core-version: "2025.11.3"
            python-version: "3.13"
          - core-version: "dev"
            python-version: "3.13"
    steps:
      - name: Check out code from GitHub
        uses: actions/checkout@v6

      - name: Install Home Assistant
        uses: ./.github/workflows/install_dependencies
        with:
          python-version: ${{ matrix.python-version }}
          core-version: ${{ matrix.core-version }}

      - name: Run pytest
        timeout-minutes: 60
        run: |
          export PYTHONPATH=${PYTHONPATH}:${PWD}
          source .venv/bin/activate
          cd core
          python3 -X dev -m pytest \
            -vvv \
            -qq \
            --timeout=9 \
            --durations=10 \
            --cov="homeassistant/components/adaptive_lighting" \
            --cov-report=xml \
            --cov-report=html \
            -o console_output_style=count \
            -p no:sugar \
            tests/components/adaptive_lighting

      - name: ReportGenerator
        uses: danielpalme/ReportGenerator-GitHub-Action@5.1.19
        with:
          reports: 'core/coverage.xml'
          targetdir: 'coveragereport'
          reporttypes: 'HtmlInline;Cobertura'
          assemblyfilters: '+*'
          classfilters: '+*'
          filefilters: '+*'
          verbosity: 'Info'
          tag: '${{ github.run_number }}_${{ github.run_id }}'

      - name: Push Coverage Report to Branch
        run: |
          git config user.name "GitHub Actions"
          git config user.email "actions@users.noreply.github.com"
          git checkout -B coverage-report
          mv coveragereport coverage-report
          git add coverage-report
          git commit -m "Update coverage report"
          git push -f origin coverage-report
