name: Validate

on:
  push:
    branches: [master]
  pull_request:
  schedule:
    - cron: "0 0 * * *"

jobs:
  validate_hacs:
    runs-on: "ubuntu-latest"
    if: github.repository == 'basnijholt/adaptive-lighting' # Don't run on forked repos
    steps:
      - uses: "actions/checkout@v6"
      - name: HACS validation
        uses: "hacs/action@main"
        with:
          category: "integration"
